@font-face {
    font-family: 'Roboto-Light';
    
    src: local('Roboto Light'), local('Roboto-Light'),
        
        url('Roboto-Light.woff2') format('woff2'),
        url('..//fonts/Roboto-Light.ttf') format('woff');
        
        
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    
    src: local('Roboto Bold'), local('Roboto-Bold'),
        
        url('Roboto-Bold.woff2') format('woff2'),
        url('..//fonts/Roboto-Bold.ttf') format('woff');
        
        
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    
    src: local('Roboto Regular'), local('Roboto-Regular'),
        
        url('Roboto-Regular.woff2') format('woff2'),
        url('..//fonts/Roboto-Regular.ttf') format('woff');
        
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}